.login-form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.5);
}
.form-wrapper {
    position: relative;
    display: flex;
    height: 70vh;
    width: 50vw;
}
.form-img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
.close {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

.login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.login-info > input {
    margin-left: 10px;
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #ececec;
}

.login-info > input:focus {
    outline: none;
}

.login-submit-btn {
    height: 45px;
    width: 60%;
    font-weight: 600;
    color: white;
    background-color: var(--theme-yellow);
}


@media(max-width:1080px) {
    .form-img {
        display: none;
    }
    .form-wrapper {
        height: 60vh;
        width: auto;
    }
}

.tab-container {
    display: flex;
    position: absolute;
    top: 50px;
    /* margin-bottom: 20px; */
}

.tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background-color: var(--theme-yellow);
    color: white;
    font-weight: bold;
}

.form-content {
    width: 100%;
}

.login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
}

.login-info > input {
    margin-left: 10px;
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #ececec;
}

.login-info > input:focus {
    outline: none;
}

.login-submit-btn {
    height: 45px;
    width: 100%;
    font-weight: 600;
    color: white;
    background-color: var(--theme-yellow);
}
